*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  float: left;
}
section{
  width: 100vw;
  height: 50vh;
}
div{
  width: 50vw;
  height: 100vh;
}
.two{
  background: url(1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.one{
  background: url(1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  filter: hue-rotate(-40deg);
}
.three{
  background: url(1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  filter: hue-rotate(20deg);
}
.gutter{
  cursor: e-resize;
}